/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --backgroung-white-color: #ffffff;
  --background-grey-color: #f5f4fa;
  --primary-dark-color: #2f303a;
  --accent-color: #2196f3;
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --logo-black-color: #000000;
  --card-border-color: #eeeeee;
  --icons-social-n-logo: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--backgroung-white-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
p {
  margin-top: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link__current {
  position: relative;
  color: var(--accent-color);
}

.link__current::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.link__current--mob {
  color: var(--accent-color);
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--part-blue {
  color: var(--accent-color);
}

.logo--part-black {
  color: var(--logo-black-color);
}

.logo--part-white {
  color: var(--backgroung-white-color);
}

.logo--in-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.menu {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 767.98px) {
  .menu--mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.button {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--backgroung-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.social-icons {
  display: inline-flex;
  width: auto;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__link--white {
  background-color: var(--backgroung-white-color);
}

.social-icons__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--backgroung-white-color);
}

.social-icons__icon--grey {
  fill: var(--icons-social-n-logo);
}

.social-icons__icon--white {
  fill: var(--backgroung-white-color);
}

.social-icons__link--grey {
  background-color: rgba(255, 255, 255, 0.1);
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767.98px) {
  .filter {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 35px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  display: inline-block;
  width: auto;
  height: 38px;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 6px 22px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: var(--background-grey-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background-color: var(--accent-color);
  color: var(--backgroung-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.address {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.address__contacts {
  display: block;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__contacts:not(:last-child) {
  margin-bottom: 9px;
}

.address__physical {
  margin-bottom: 9px;
  color: var(--backgroung-white-color);
}

.form-subscribe {
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .form-subscribe {
    flex-direction: column;
    align-items: center;
  }
}

.form-subscribe__input {
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscribe__input:focus {
  border: 1px solid var(--accent-color);
}

.form-subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767.98px) {
  .form-subscribe__input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .form-subscribe__input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe__input {
    min-width: 358px;
    margin-bottom: 0;
  }
}

.button__subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .button__subscribe {
    margin-left: 10px;
  }
}

.icon__send {
  margin-left: 10px;
}

.feedback-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.feedback-form__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.feedback-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.feedback-form__input {
  position: relative;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__input:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .feedback-form__input {
    width: 448px;
  }
}

.feedback-form__icon {
  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(100%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__input:focus + .feedback-form__icon {
  fill: var(--accent-color);
}

.feedback-form__textarea-container {
  margin-bottom: 20px;
}

.feedback-form__textarea-field {
  resize: none;
  padding: 26px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__textarea-field:focus {
  border: 1px solid var(--accent-color);
}

.feedback-form__textarea-field::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (max-width: 1199.98px) {
  .feedback-form__textarea-field {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .feedback-form__textarea-field {
    width: 448px;
  }
}

.button-submit-container {
  position: relative;
  width: 100%;
}

.button-submit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.checkbox {
  padding: 0;
  position: relative;
  margin-bottom: 30px;
}

.checkbox__hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.checkbox__hidden:checked + .checkbox__icon {
  background-origin: border-box;
  border: none;
  background-color: var(--accent-color);
}

.checkbox__hidden:checked + .checkbox__icon .checkbox__icon-check {
  visibility: visible;
}

.checkbox__icon {
  left: 0;
  top: 0;
  top: 50%;
  bottom: 50%;
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-title-color);
  border-radius: 4px;
  transform: translateY(-50%);
}

.checkbox__icon-check {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
}

.checkbox__label {
  margin-left: 23px;
}

@media screen and (max-width: 1199.98px) {
  .checkbox__label {
    font-size: 12px;
  }
}

.checkbox__link {
  color: var(--accent-color);
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding: 48px 40px;
  background-color: var(--backgroung-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  left: 0;
}

.mob-menu-btn {
  position: relative;
  z-index: 105;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .mob-menu-btn {
    display: none;
  }
}

.mob-menu__open {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__open:active {
  fill: var(--accent-color);
}

.mob-menu__close {
  display: none;
}

.is-open .mob-menu__close {
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open .mob-menu__close:active {
  fill: var(--accent-color);
}

.is-open .mob-menu__open {
  display: none;
}

.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.mob-menu-contacts {
  margin-bottom: 64px;
}

.mob-menu-contacts__link-tel {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}

.mob-menu-contacts__link-tel:hover, .mob-menu-contacts__link-tel:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mob-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contacts__link-mail {
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.mob-menu-social {
  display: flex;
}

.mob-menu-social__item {
  padding-right: 10px;
}

.mob-menu-social__item:not(:first-child) {
  padding-left: 10px;
}

.mob-menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu-social__link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header__container .link.logo {
    padding: 16px 0;
  }
}

@media screen and (max-width: 767.98px) {
  .contacts--mobile-hidden {
    display: none;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero_mobile.jpg);
  background-color: var(--primary-dark-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero_tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/hero_desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/hero_desktop@2x.jpg);
  }
}

.hero__content {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__content {
    max-width: 696px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--backgroung-white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 1199.98px) {
  .specialty {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .specialty {
    padding-top: 94px;
  }
}

.specialty__icon {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-grey-color);
}

.specialty__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

@media screen and (max-width: 767.98px) {
  .specialty__name {
    text-align: center;
  }
}

.specialty__description {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .specialty-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -30px;
  }
}

.specialty-list__item {
  margin-bottom: 30px;
}

@media screen and (max-width: 767.98px) {
  .specialty-list__item {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .specialty-list__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .specialty-list__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .works {
    display: none;
  }
}

.works-list {
  display: flex;
}

.works-list__item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
}

.works-list__item:nth-child(3n) {
  margin-right: 0px;
}

.works-list__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.works-list__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-list__description-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--backgroung-white-color);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-grey-color);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .members {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.members__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767.98px) {
  .members__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .members__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .members__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.members__container {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  background-color: var(--backgroung-white-color);
}

@media screen and (min-width: 1200px) {
  .members__container {
    padding-bottom: 30px;
  }
}

.members__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-title-color);
}

.members__job {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.regular-customers {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--backgroung-white-color);
}

@media screen and (min-width: 1200px) {
  .regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  margin-left: -30px;
}

.companies__item {
  margin-bottom: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 767.98px) {
  .companies__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .companies__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.companies__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid var(--icons-social-n-logo);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies__link:hover, .companies__link:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .companies__link {
    max-width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .companies__link {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .companies__link {
    min-width: 170px;
  }
}

.companies__icon {
  fill: var(--icons-social-n-logo);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies__link:hover .companies__icon,
.companies__link:focus .companies__icon {
  fill: var(--accent-color);
}

.projects-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .projects-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.projects__item {
  background: var(--backgroung-white-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-right: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

.projects__item:hover, .projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.projects__img {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .project__description,
.projects__link:focus .project__description {
  transform: translateY(0);
}

.project__description-text {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--backgroung-white-color);
  transform: translate(-50%, -50%);
}

.project__name-container {
  padding: 20px 24px;
}

.project__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.project__character {
  height: 100%;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-dark-color);
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: -60px;
}

@media screen and (max-width: 767.98px) {
  .footer__info {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__info {
    align-items: baseline;
  }
}

.footer__elements {
  margin-bottom: 60px;
}

@media screen and (max-width: 1199.98px) {
  .footer__elements {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__elements {
    flex-basis: calc((50% - 45px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer__elements:last-child {
    flex-basis: calc(50% - 15px);
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--backgroung-white-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 105;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  background-color: var(--backgroung-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199.98px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2) rotate(45deg);
}

.modal__icon-close {
  fill: var(--logo-black-color);
}

.modal__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--backgroung-white-color);
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */