.feedback-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.feedback-form__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.feedback-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.feedback-form__input {
  position: relative;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.feedback-form__icon {
  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(100%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .feedback-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.feedback-form__textarea-container {
  margin-bottom: 20px;
}

.feedback-form__textarea-field {
  resize: none;
  padding: 26px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  @media screen and (max-width: 1199.98px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.button-submit-container {
  position: relative;
  width: 100%;
}

.button-submit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
