.form-subscribe {
  display: flex;

  @media screen and (max-width: 1199.98px) {
    flex-direction: column;
    align-items: center;
  }
}

.form-subscribe__input {
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 767.98px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    min-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 358px;
    margin-bottom: 0;
  }
}

.button__subscribe {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}

.icon__send {
  margin-left: 10px;
}
