.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-dark-color);
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: -60px;

  @media screen and (max-width: 767.98px) {
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.footer__elements {
  margin-bottom: 60px;

  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((50% - 45px) / 2);
  }

  &:last-child {
    @media screen and (min-width: 1200px) {
      flex-basis: calc(50% - 15px);
    }
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--backgroung-white-color);
}
