.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imghero.jpg);
  background-color: var(--primary-dark-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content {
  max-width: 696px;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--backgroung-white-color);
}
