.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: $linearGradient, url(../images/hero/mobile/hero_mobile.jpg);
  background-color: var(--primary-dark-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: $linearGradient, url(../images/hero/mobile/hero_mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: $linearGradient, url(../images/hero/tablet/hero_tablet.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: $linearGradient, url(../images/hero/tablet/hero_tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    background-image: $linearGradient, url(../images/hero/desktop/hero_desktop.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: $linearGradient, url(../images/hero/desktop/hero_desktop@2x.jpg);
    }
  }
}

.hero__content {
  text-align: center;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--backgroung-white-color);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
