.regular-customers {
  padding-top: $sectionPaddingTopMobTab;
  padding-bottom: $sectionPaddingBottomMobTab;
  background-color: var(--backgroung-white-color);

  @media screen and (min-width: 1200px) {
    padding-top: $sectionPaddingTop;
    padding-bottom: $sectionPaddingBottom;
  }
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  margin-left: -30px;
}

.companies__item {
  margin-bottom: 30px;
  margin-left: 30px;

  // &:nth-child(2n + 1) {
  //   @media screen and (max-width: 767.98px) {
  //     margin-right: 30px;
  //   }

  @media screen and (max-width: 767.98px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.companies__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid var(--icons-social-n-logo);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }

  @media screen and (max-width: 767.98px) {
    max-width: 210px;
  }

  @media screen and (min-width: 768px) {
    max-width: 226px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 170px;
  }
}

.companies__icon {
  fill: var(--icons-social-n-logo);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .companies__link:hover &,
  .companies__link:focus & {
    fill: var(--accent-color);
  }
}
