.specialty {
  @media screen and (max-width: 1199.98px) {
    padding-top: $sectionPaddingTopMobTab;
    padding-bottom: $sectionPaddingBottomMobTab;
  }

  @media screen and (min-width: 1200px) {
    padding-top: $sectionPaddingTop;
  }
}

.specialty__icon {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-grey-color);
}

.specialty__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}

.specialty__description {
  margin-bottom: 0;
}

.specialty-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -30px;
  }
}

.specialty-list__item {
  margin-bottom: 30px;

  @media screen and (max-width: 767.98px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

// @media screen and (max-width: 767.98px) {
//   .specialty-list__item:nth-child(4n) {
//     padding-bottom: 0;
//   }
// }

// @media screen and (min-width: 768px) and (max-width: 1199.98px) {
//   .specialty-list__item:nth-child(n + 3) {
//     padding-bottom: 0;
//   }
// }
